body,
html {
  margin: 0;
}

.main-body {
  width: 60%;
  margin: 50px auto;
}

.main-body img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-body h3 {
  text-align: center;
}

td,
th {
  font-size: 18px;
}

.btn {
  font-size: 18px;
  padding: 5px;
  width: 20%;
}

input{
  padding: 10px;
}
